* {
  box-sizing: border-box;
}

// Защита от переполнения
img {
  max-width: 100%;
  height: auto;
}

// Обнуление отступов по умолчанию у списков
ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style-position: inside;
}

dl, dd, dt {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
  background: none;
  color: inherit;
  &:hover,
  &:active{
    outline: none;
  }
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  &:hover,
  &:active{
    outline: none;
  }
}

.body-page {
  font-family: $f-primary-bold;
  font-size: $fs-def;
  line-height: 1.7;

  color: $c-primary;
}

.base-title {
  margin-bottom: 25px;

  font-size: $fs-title;
  text-transform: uppercase;
}