//Цвета
$c-primary: #000;
$c-secondary: #fff;

$c-bg-primary: #000;

//Типографика
$f-primary: "PTSansNarrowRegular", "Arial", sans-serif;
$f-primary-bold: "PTSansNarrowBold", "Arial", sans-serif;

$fs-def: 14px;
$fs-secondary: 16px;
$fs-title: 30px;